LASTFM_API_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/discovr
REDIS_URL=redis://localhost:6379
GRAPH_WORKER_URL=http://localhost:8001
NEXT_PUBLIC_APP_NAME=Discovr
NEXT_PUBLIC_API_URL=http://localhost:4000
